<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
  <test thread-count="5" name="LoginTest">
    <classes>
      <class name="testLayer.LoginPageTest"/>
    </classes>
  </test> <!-- LoginTest -->
</suite> <!-- MyTestSuite -->
